###############################################################################
#
#   GOOGLE CLOUD PLATFORM NETWORKS FOR PROJECT {{ GCP_PROJECT_NAME|upper }}
#
#   This Terraform plan creates, manages and removes Virtual Private Cloud (VPC)
#   networks for a single project on Google Cloud Platform (GCP).
#
###############################################################################
variable "project" {
  type=string
}


module "networks" {
  source  = "./modules/networks"
  project = var.project
}
