###############################################################################
#
#   GENERIC STORAGE BUCKET (GSC) {{ BUCKET_NAME|upper }}.{{ BLOB_STORAGE_BASE_DOMAIN|upper }}
#
#   References:
#
#   - https://www.terraform.io/docs/providers/google/r/storage_bucket.html
#   - https://www.terraform.io/docs/providers/google/r/storage_bucket_iam.html
#
###############################################################################
variable "base_domain" { type=string }
variable "project" { type=string }


data "google_iam_policy" "default" {
  binding {
    role = "roles/storage.admin"
    members = []
  }

  binding {
    role = "roles/storage.objectAdmin"
    members = []
  }

  binding {
    role = "roles/storage.objectCreator"
    members = []
  }

  binding {
    role = "roles/storage.objectViewer"
    members = []
  }

  binding {
    role = "roles/storage.legacyBucketOwner"
    members = [
      "projectEditor:${var.project}",
      "projectOwner:${var.project}",
      "serviceAccount:{{ TERRAFORM_SERVICE_ACCOUNT }}"
    ]
  }
}


resource "google_storage_bucket" "container" {
  project       = var.project
  name          = "{{ BUCKET_NAME }}.${var.base_domain}"
  location      = "{{ DEFAULT_STORAGE_LOCATION }}"
  force_destroy = false
  storage_class = "STANDARD"
  uniform_bucket_level_access = true
}


resource "google_storage_bucket_iam_policy" "policy" {
  bucket = google_storage_bucket.container.name
  policy_data = data.google_iam_policy.default.policy_data
}