###############################################################################
#
#   GCP VIRTUAL PRIVATE NETWORK {{ GCP_VPC_NAME|upper }}
#
###############################################################################
variable "project" {
  type=string
}


# For an overview of the module parameters,
# visit https://gitlab.com/unimatrixone/terraform/vpc
module "vpc" {
  source  = "git::https://gitlab.com/unimatrixone/terraform/vpc.git"
  project = var.project
  name    = "{{ GCP_VPC_NAME }}"
  default_region  = changeme
  default_storage_region  = changeme
  isolation = "internal"
  subnetworks = []
  reserved_proxy_http = null
}